*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}

li{
    padding: 2rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

.active{
    color: rgb(224, 191, 129);;
}






/* Nav Bar */

nav{
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
}

.logo-h1{
    font-family: 'Sigmar One', cursive;
    letter-spacing: 0.1rem;
    font-size: 2rem;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.beer-logo{
    height: 5rem;
    padding-right: 3rem;
}

/* Nav Bar Finished */




/* Filters */

.filter-container{
    height: 7rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 6%;
    padding-right: 6%;
    background: white;
}

.filter-beverages-container{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
}

.select-container{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
}

.refresh-container{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    padding: 0.2rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.typeFilter{
    padding: 0.3rem;
    margin-left: 1rem;
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

.input-search{
    height: 2.4rem;
    padding-left: 0.8rem;
    padding-right: 2rem;
    margin-right: 1rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

#searchFilter{
    cursor: pointer;
}

.search-icon{
    pointer-events: none;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

select{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

.refreshButton{
    padding: 0.6rem;
    cursor: pointer;
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 1rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

/* Filters Finished */




/* Cards */

.cardContent{
    width: 100vw;
    min-height: 76.4vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: url(./img/brew.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 2rem;
}

.card--style{
    width: 22rem !important;
    height: 28rem;
    background: #FAFAF4;
    padding: 1rem;
    margin-right: 2rem;
    margin-left: 2rem; 
    margin-top: 2rem;
}

.card--style:hover{
    background: #FAFAF4;
    border: 4px solid whitesmoke;
}

.img-container{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: rgb(224, 191, 129);
}

.card-img-top{
    height: 12rem;
    width: 12rem;
}

.card-body{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.card-title{
    font-size: 1.1rem;
    font-family: 'Sigmar One', cursive;
    letter-spacing: 0.02rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.card-text{
    font-size: 0.9rem;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

.moreInformation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background: white;
    border: 2px solid white;
    margin-top: 0.4rem;
}

.moreInformation:hover{
    border: 1px solid whitesmoke !important;
}

.moreInformation:after{
    border: 1px solid whitesmoke !important;
}

.moreInformation:active{
    border: 1px solid whitesmoke !important;
}





/* Cards Finished */



/* Modal */

.modal-header{
    background-color: white;
    border: none;
}

.modal-title{
    width: 100%;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    color: black;
    padding-left: 2rem;
    text-align: center;
}

.close{
    color: black;
}

.close:hover{
    color: black;
}

.modal-body{
    background: rgb(224, 191, 129);
}

.modalTitle{
    text-align: center;
    font-family: 'Sigmar One', cursive;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.card-img-top-modal{
    height: 12rem;
    width: 12rem;
    margin-left: 8.4rem;
    padding-bottom: 1.4rem;
    border: 2px solid blue;
}

.model-text{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

.modal-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FAFAF4;
    padding-left: 30%;
    padding-right: 30%;
}

.btn-primary{
    background: white;
    font-size: 1rem;
    font-family: 'Bai Jamjuree', sans-serif;
    color: black;
    border: 1px solid white;
}

.btn-primary:hover{
    color: black;
    background: white;
    border: 1px solid black;
}


.btn-secondary{
    font-size: 1rem;
    font-family: 'Bai Jamjuree', sans-serif;
}





/* Modal Finished */



/* Footer */

.footer{
    height: 8rem;
    width: 100vw;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-p{
    font-size: 1rem;
    color: white;
    font-family: 'Sigmar One', cursive;
    letter-spacing: 0.02rem;
}

.footer-img{
    height: 3.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0.8rem;
}

/* Footer Finished */






/* Media Quries */





/* Mobile */

@media only screen and (max-width:565px){


    /* Nav Bar */

    .logo-h1{
        font-size: 1rem;
    }

    .beer-logo{
        height: 2rem;
        padding-right: 2rem;
    }

    /* Nav Bar Finished */


    /* Filters */

    .filter-container{
        height: 8rem;
        width: 100vw;
    }
    
    .filter-beverages-container{
        display: none;
    }
    
    .search-container{
        height: 100%;
        width: 100%;
        padding-left: 0rem;
    }
    
    .select-container{
        display: none;
    }
    
    .refresh-container{
        display: none;
    }
    
    label{
        padding: 0.4rem;
        font-size: 1rem;
    }
    
    /* Filters Finished */
    
    
    /* Cards */
    
    .cardContent{
        min-height: 63.8vh;
        display: flex;
        justify-content: center;
    }
    
    .card--style{
        width: 22rem !important;
        height: 28rem;
    }

    .card-img-top{
        height: 10rem;
        width: 10rem;
    }
    
    .card-title{
        padding-bottom: 0.6rem;
        padding-top: 1rem;
    }
    
    .moreInformation{
        margin-top: 0rem;
    }


    .card-img-top-modal{
        margin-left: 5rem;
    }

    /* Cards Finished */
    

    .footer-p{
        font-size: 0.8rem;
    }
    
    .footer-img{
        height: 2rem;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
}







/* Tablet */

@media only screen and (min-width:566px) and (max-width: 960px){

    /* Filters */

.filter-container{
    height: 8rem;
    width: 100vw;
}

.filter-beverages-container{
    display: none;
}

.search-container{
    height: 100%;
    width: 50%;
    padding-left: 0rem;
}

.select-container{
    display: none;
}

.refresh-container{
    height: 100%;
    width: 50%;
}

label{
    padding: 0.4rem;
    font-size: 1rem;
}

/* Filters Finished */


/* Nav Bar */

.logo-h1{
    font-size: 1.6rem;
}

.beer-logo{
    height: 3.4rem;
    padding-right: 2rem;
}

/* Nav Bar Finished */



/* Cards */

.cardContent{
    min-height: 68.4vh;
    display: flex;
    justify-content: center;
}

.card--style{
    width: 22rem !important;
    height: 28rem;
    margin-right: 2rem;
    margin-left: 2rem; 
}

.card-img-top{
    height: 9rem;
    width: 9rem;
}

.card-title{
    padding-bottom: 0.6rem;
    padding-top: 1rem;
}

.moreInformation{
    margin-top: 0rem;
}

/* Cards Finished */

}






@media only screen and (min-width:961px) and (max-width: 1279px){

/* Filters */

.filter-container{
    height: 12rem;
    width: 100vw;
}

.filter-beverages-container{
    height: 50%;
    width: 50%;
}

.search-container{
    height: 50%;
    width: 50%;
}

.select-container{
    height: 50%;
    width: 50%;
}

.refresh-container{
    height: 50%;
    width: 50%;
}

label{
    padding: 0.4rem;
    font-size: 1rem;
}

/* Filters Finished */


/* Cards */

.cardContent{
    width: 100vw;
    min-height: 68.5vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: url(./img/brew.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 2rem;
}

.card--style{
    width: 22rem !important;
    height: 28rem;
    margin-right: 2rem;
    margin-left: 2rem; 
}

.card-img-top{
    height: 10rem;
    width: 10rem;
}

.card-title{
    padding-bottom: 0.6rem;
    padding-top: 1rem;
}

.moreInformation{
    margin-top: 0rem;
}

/* Cards Finished */

}

